{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
  <div class="container">
    <div class="header">
      <h1><a href="/books">Каталог</a></h1>
    </div>
    <div class="row">
      {% for book in book_list %}
        <div class="book col-md-4">
          <h2>{{ book.name }}</h2>
          <p>Автор: {{ book.author }}</p>
          <p>Дата публикации: {{ book.pub_date }}</p>
        </div>
      {% endfor %}
    </div>
    <div>
      {% if p %}
        <a>
          {% if prev_page_date %}
            <a href="{{ site_url }}{{ prev_page_date }}">{{ prev_page_date }}</a>
{#          {% else %}#}
{#            N!#}
          {% endif %}
        </a>
        <a>
          {% if next_page_date %}
            <a href="{{ site_url }}{{ next_page_date }}">{{ next_page_date }}</a>
{#          {% else %}#}
{#            N!#}
          {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}