{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <h1 class="col s12">Инфляция в России</h1>
    <ul class="col s12 m8">
      <!-- Ваша логика -->

      <table>
        <thead>
          <tr>
            {% for fn in field_names %}
              {% if forloop.last %}
                <th bgcolor="#808080">Всего</th>
              {% else %}
                <th>{{ fn }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>

            {% for row in field_values %}
              <tr>
                {% for field in row %}
                  <td bgcolor={{ field.color }}>{{ field.value }}</td>
                {% endfor %}
              </tr>
            {% endfor %}

        </tbody>
      </table>
    </ul>
  </div>
{% endblock %}
