{% extends "base.html" %}
{% load static %}

{% block title %}Журнал{% endblock %}

{% block content %}
  <div class="container">
    <div class="header">
      <h1>Список статей</h1>
    </div>
    <div class="articles">
      {% for article in articles %}
        <h3>
          <a
              {% if not article.paid or article.paid and is_signed %}
                href="{{ article.pk }}/"
{#                href="{{ site_path }}{{ article.pk }}/"#}
              {% endif %}
          >
            {{ article.title }}
          </a>
        </h3>
      {% endfor %}
    </div>
    {% if not is_signed %}
      <p class="alert-info">
        Ссылки на все статьи могут не отображаться, так как вы не подписаны на платный контент.
      </p>
    {% endif %}
  </div>
{% endblock %}
